.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  &--card {
    width: 350px;
    height: 500px;
    border-radius: 10px;
    background: white;
    position: relative;
    img {
      width: 80%;
      height: 300px;
      object-fit: contain;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    h4 {
      color: yellow;
      font-size: 25px;
    }
    h3 {
      position: relative;
      span {
        position: absolute;
        top: -10px;
        font-size: 13px;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 39px;
      button {
        padding: 8px 20px;
        color: white;
        background: rgb(0, 85, 255);
        border: none;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
      }
    }
    h1 {
      color: red;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    h6 {
      font-size: 25px;
    }
  }
}
